/* 

    File: styles.css

    Programers: Conor Macpherson, Tudor Lupu

    First-version: 2018-12-06

    Description: This file contains all the styling for the text editor. It makes
                everything look good and presentable. 

*/

/* SET THE GENERAL THINGS FOR THE PAGE */
html, body {
    font-family: Arial;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    color: #555555;
}

/* SET THE BACKGROUND IMAGE OF THE PAGE */
body {
    background-image: url("../img/bg.jpg");
}

h1 {
    font-size: 75px;
}

/* THE AREA WHERE THE FILES ARE VIEWED AND EDITED */
textarea {
    font-family: Arial;
    width: 100%;
    height: 100%;
    border: 1px solid lightgray;
}

/* HIGHLIGHT BORDER ON HOVER */
textarea:hover {
    border: 1px solid black;
}

/* CONTAINER WRAPPING ALL THE CONTENT ON THE PAGE */
.wrapper {
    width: 60%;
    height: 100%;
    position: absolute;
    left: 20%;
    right: 20%;
}

/* CONTAINER SUROUNDING THE TITLE OF THE PAGE */
.header {
    text-align: center;
    margin-bottom: 3%;
}

/* CONTAINER WHERE THE INSTRUCTIONS ON HOW TO USE THE EDITOR ARE FOUND */
.instructions {   
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    background-color: white;
}

.instructions:hover {
    border: 1px solid black;
}


/* CONTAINER WHERE ALL THE CONTROLS ARE FOUND */
.text-select {
    padding-top: 10px;
    padding-bottom: 5px;   
}

/* CONTAINER SURROUNDING THE TEXT AREA */
.text {
    padding-top: 10px;
    height: 40%;
}

/* CONTAINER WHERE THE SAVE STATUS IS DISPLAYED */
#saveResult {
    padding-left: 25%;
    color: darkgreen;
}

/* THE CONTROLS: BUTTONS & DROP DOWN MENU */
#fileSelect, #fileSave , select {
    border-radius: 2px;
    font-size: 16px;
    background-color: #555555;
    border: 2px solid #555555;
    padding: 10px 24px;
    color: white;
}

#fileSave:disabled {
    background-color: darkgray;
    border: 2px solid darkgray;
}

#fileSelect:hover, #fileSave:hover:enabled {
    background-color: white;
    color: #555555;
}

select {
    width: 400px;
    background-color: white;
    color: #555555;
    border: 1px solid lightgray;
}

select:hover {
    border: 1px solid black;
}

/* SMALL TEXT BELOW THE INPUT AREA */
.footer {
    padding-top: 30px;
    font-size: 11px;
    float: right;
}
