#fileList {

    width:200px;
}

#editor {

    width: 94%;
    height: 500px;
}

#save {

    display: inline-block;
}

#saveResult {

    display: inline-block;
    color: red;
    line-height: 50%;
}